<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BettingDB" connectionString="Server=localhost;Database=BettingSystemDB;Trusted_Connection=True;Integrated Security=true;TrustServerCertificate=true;"/>
	</connectionStrings>
	<appSettings>
		<add key="GOOGLE_API_KEY" value="YOUR_API_KEY"/>
	</appSettings>
</configuration>