<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BettingDB" connectionString="Server=localhost\SQLEXPRESS;Database=BettingSystemDB;Trusted_Connection=True;Integrated Security=true;TrustServerCertificate=true;"/>
	</connectionStrings>
	<appSettings>
		<add key="GOOGLE_API_KEY" value="AIzaSyBvOQQUkfW_2quz2SsWQ7-9RSs520PFRJs"/>
	</appSettings>
</configuration>